<Settings>
  <UnwantedCreatures>
    <!-- Creature a 'Creature' structure to control that creature's spawn. 
         Look at `List of creatures.txt` for the names of the creatures. -->
    <!--   
         <Creature>
            <Name>Creature's name goes here</Name>
            <SpawnConfiguration>
               <SpawnChanceOutOf100>'0' to '100'</SpawnChanceOutOf100>
               <CanRespawn>'true' or 'false'</CanRespawn>
            </SpawnConfiguration>
         </Creature>
      -->
    <!-- For example: -->
    <Creature>
      <Name>Biter_02</Name>
      <SpawnConfiguration>
        <!-- Range is from 0 to 100. 0 prevents the creature from ever spawning, 100 does not affect the creature's spawning.  -->
        <SpawnChanceOutOf100>50</SpawnChanceOutOf100>
        <!-- Enable/Disable the creature's respawn: `true` or `false` -->
        <CanRespawn>true</CanRespawn>
      </SpawnConfiguration>
    </Creature>
    <Creature>
      <!-- Works because <Name> is NOT case sensitive -->
      <Name>PEEper</Name>
      <SpawnConfiguration>
        <SpawnChanceOutOf100>100</SpawnChanceOutOf100>
        <CanRespawn>false</CanRespawn>
      </SpawnConfiguration>
    </Creature>
  </UnwantedCreatures>
</Settings>
